body{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.tag-title{
    text-align: center;
    margin-bottom: 20px;
}

.tag-main{
    border: 1px solid #eee;
    height: 500px;
    /*height: auto;*/
    position: relative;
}

#tag-area{
    border: none;
    resize: none;
}


#tag-area,#tag-analog{
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-wrap;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

#tag-area{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    /*visibility:hidden;*/
}

.tag-toolbar{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: none;
    border-radius: 5px;
    padding: 5px 0;
}

.tag-toolbar>a{
    color: #fff;
    padding: 0px 12px;
    font-size: 13px;
    display: inline-block;
}

.tag-toolbar>a:not(:last-child){
    border-right: 1px solid rgba(246, 246, 246, 0.2);
}

.tag-toolbar::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    top: -12px;
    left: 50%;
}

.btn-area{
    margin-top: 20px;
    text-align: center;
}

.btn-area .btn{
    background-image: none;
}

.tip-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 20;
    opacity: 1;
    display: none;
}


.tip-modal.hide .tip-modal-main{
    transform:translate3d(0,0,0) scale(0.8);
}

.tip-modal-close{
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
}

.tip-modal-close::after{
    content: "\00d7";
    font-size: 25px;
    color: #95979c;
    position: absolute;
    top: 0;
    width: 35px;
    left: 0;
    height: 35px;
}

.tip-modal-main{
    background-color: #fff;
    width: 500px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    border-radius: 3px;
    z-index: 10;
    padding: 10px 15px;
}

.tip-modal-title{
    margin: 20px 0;
    font-size: 20px;
    color: #2b2e38;
    text-align: center;
    font-weight: 700;
}

.tip-modal-body{
    color: #2b2e38;
    margin: 20px;
    font-size: 15px;
    line-height: 25px;
}

.tip-modal-footer{
    text-align: right;
    padding: 10px 15px;
}

.tip-modal-cancel,.tip-modal-down{
    color: #fff;
    min-width: 100px;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.tip-modal-cancel{
    background-color: #e57373;
}

.tip-modal-cancel:hover{
    background-color: #ef5350;
    color: #fff;
}

.tip-modal-down{
    background-color: #81c784;
}

.tip-modal-down:hover{
    background-color: #66BB6A;
    color: #fff;
}